.cell {
    width: 30px;
    height: 29px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell::before {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
}

.cell.black::before {
    background-color: black;
}

.cell.white::before {
    background-color: white;
    box-shadow: 0 0 0 1px #000;
}
